# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data
data/*.csv
data/*.parquet
*.db
*.sqlite

# Logs
*.log
logs/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Notebooks
.ipynb_checkpoints/
